PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/prode_mundial?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtstringchangeinproduction
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword2026
